/* https://colorhunt.co/ */

:root {
  --black-900: #040D12;
  --purple-900: #B900FF;
  --purple-700: #363062;
  --purple-300: #E9B0FF;
  --grey-200: #E0E0E0;
  --grey-700: #616161;
  --grey-900: #212121;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--black-900);
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin-left: 15px;
  line-height: 1.5;
  color: var(--grey-200);
}

a {
  color:var(--purple-900); 
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
}

a:hover {
  color: var(--purple-300);
  text-decoration: underline;
}

p {
  line-height: 1.5;
  color: var(--grey-200);
}

.posts {
  list-style: none;
  display: grid;
  gap: 2rem;
}

.post {
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 1rem;
}

.categories {
  display: flex;
  gap: 0.5rem;
}

.pill {
  background-color: var(--purple-900);
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
}
